@model OAuthServer.ViewModels.LoginViewModel

﻿<h1>Need Confirm</h1>

<div>
    <p>
        You need confirm Email for lofin.
    </p>
    <p>
        <a href="Login?returnUrl=@Model.ReturnUrl">Login</a>
    </p>
</div>